#messages><= render partial: 'message', collection: @messages
%script#message-template{ type: 'x-template' }><
  .message-wrapper
    .message-sender
      .sender-image
      %h1.sender-name
    .message-content
      %p.message-body
      %p.message-location
  %img.message-image{ src: '' }
