#messages><= render partial: 'message', collection: @messages
%script#message-template{ type: 'x-template' }><
  .message-image
  .message-sender
    %h1.sender-name
    .sender-image
  .message-content
    %p.message-body
    %p.message-location
