#videoLoop
  .notification
    %h1 New message from Drory!
    %p Would you like to see it?
  %video.video{ poster: '/news.jpg', autoplay: 'true', loop: 'true', src: '/news.mp4' }
    %source{ type: 'video/mp4', src: '/news.mp4' }
