#videoLoop
  .notification.message-wrapper
    .message-sender
      .sender-image <img src="" alt="">
      %h1.sender-name New message from <span class="notification-name"></span>!
    .message-content
      %p.message-body
      %p.message-helper An image is attached.
  %img.pretty{ src: '/waterfall.jpg', alt: 'a beautfiful waterfall'}
