$background-color: lighten(#ffdab9, 5%);
$message-color: #222;
$space: 0.5rem;

body { background: $background-color; color: $message-color; }
h1 { font-size: 1.4rem; }
p { margin: 0; }

#messages {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.message {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  &.is-visible {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  margin: $space;
}

.message-sender {
  display: flex;
  align-items: center;

  .sender-image {
    height: 2.5rem;
    margin: 0 $space 0 0;

    img { height: 100%; }
  }

  .sender-name {
    margin: 0;
  }
}

.message-image {
  height: 100%;
}

.message-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-location {
  font-size: 0.4rem;
  text-align: center;
}

#videoLoop {
  .video {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .notification {
    background: $background-color;
    border-radius: 5%;
    height: 60%;
    padding: 0.5rem;
    opacity: 0;
    transition: all 0.5s ease;
    width: 30%;

    position: absolute;
    top: 3%; right: 0; bottom: 0;
    z-index: 2;

    &:after {
      border-color: $background-color transparent;
      border-style: solid;
      border-width: 0.5rem 0.5rem 0;
      content: "";
      display: block;
      width: 0;

      position: absolute;
      right: 1rem; bottom: -0.5rem;
    }

    &.is-visible {
      opacity: 1;
    }

    .sender-image { height: 1.5rem; }
    .sender-name { font-size: 0.66rem; }
    .message-content { margin-top: 0.5rem; }
    .message-body { font-size: 0.66rem; font-style: italic; }
    .message-helper {
      font-size: 0.4rem;
      font-style: italic;
      position: absolute;
      bottom: 2%;
    }
  }
}
