$background-color: lighten(#ffdab9, 5%);
$message-color: #222;

body { background: $background-color; color: $message-color; }
h1 { font-size: 1.4rem; }
p { margin: 0; }

#messages {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.message {
  opacity: 0;
  position: absolute;
  margin: auto;
  top: 2vmin; right: 2vmin; bottom: 2vmin; left: 2vmin;
  transition: all 0.5s ease-in-out;

  &.is-visible {
    opacity: 1;
    transition: all 0.5s ease-in-out 1s;
  }

  .message-sender {
    position: absolute;
    top: 50%; right: 60vw; bottom: auto; left: 0;
    margin: auto;
    transform: translateY(-50%);

    .sender-image img {
      display: block;
      margin: 0 auto;
    }

    .sender-name {
      margin: 0;
      text-align: center;
    }
  }

  .message-content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 40vw;

    .message-body {
      font-size: 1.1rem;
      font-style: italic;
    }

    .message-location {
      font-size: 0.5rem;
      position: absolute;
      top: auto; left: 0; right: 0; bottom: 0;
      text-align: center;
    }
  }
}

.message.has-image {
  top: 0; right: 0; bottom: 0; left: 0;
}

.message.vertical {
  .message-image {
    position: absolute;
    top: 0; right: 55vw; bottom: 0; left: 0;
    margin: auto;

    img {
      position: absolute;
      top: 0; left: 0; bottom: 0;
      margin: auto;
      max-height: 100%;
    }
  }

  .message-content { top: 2rem; left: 45vw; }
  .message-sender {
    top: 2vmin; right: 2vmin; bottom: auto; left: 45vw;
    transform: none;

    .sender-name { display: inline-block; }
    .sender-image {
      float: left;
      margin: 0 3vmin 0 0;
      height: 15vmin;
      width: 15vmin;

      img { width: 100%; }
    }
  }
}

.message.square,
.message.horizontal {
  color: #fff;

  .message-content {
    top: auto; left: 0;
    height: 28vh;
  }

  .message-body {
    margin-top: 14vh;
    margin-left: 36vw;
    transform: translateY(-50%);
  }

  .message-location {
    display: none;
  }

  .message-sender {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: auto; right: 0; bottom: 0; left: 0;
    height: 28vh;
    transform: none;
  }

  .sender-name {
    margin: 5.5vmin 0 0 17vmin;
    width: 25vw;
  }

  .sender-image {
    position: absolute;
    bottom: 1vmin; left: 1vmin; top: 1vmin;
    margin: 0;
    width: 15vmin;

    img {
      display: block;
      margin-top: 5.5vmin;
      width: 100%;
    }
  }

  .message-image {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    img {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      margin: auto;
      max-width: 100%;
    }
  }
}
